.header {
    text-align: center;
}
.order{
    display: flex;
    justify-content: space-between;
}
.lower{
    display: flex;
    justify-content: space-between;
}
.footer {
    text-align: center;
}

.main table tbody{
    display: contents;
    height: auto;
}

.main table thead {
    position: relative;   
}


