@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=League Gothic');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    top: 9%;
    position: fixed;
    display: flex;
    background: #f3f3f6b5;
}
.navbar {
   background: #c05dc0;
   justify-content: space-between;
   color: #333;
   display: flex;
   align-items: center;
   padding: 10px;
   height: 80px;
   width: 100%;
   z-index: 1;
   position: fixed;
}
.navbar img {
   width: 8%;
   margin-top: 4px;
}
.navbar a {
    text-decoration: none;
}
.navbar h2 {
   color: #fff;
   margin: 10px;
}
.navbar h3 {
    color: #fff; 
}

.navbar-right i{
   font-size: 23px;
   color: #ffffff;
}
.navbar .navbar-right {
    display: flex;
    align-items: center;
}
.navbar .navbar-left {
    display: flex;
    align-items: center;
}
.user-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.navbar .howto{
    color: white;
}
.dropdown-cont div:hover {
    background: #d19bce;
}
.dropdown-cont h3 {
    padding: 10px 10px 16px 10px;
}

.error-message{
    position: absolute;
    top: 365px;
    left: 106px;
    color: red;
}

.quantity-input {
    font-size: 15px;
    width: 70px;
    text-align: center;
}

.remove-button{
    cursor: pointer;
}

.content-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-template-rows: repeat(2, 370px);
    grid-gap: 20px;
    height: 100%;
    max-height: 100vh;
    padding: 50px;
    width: 70%;
    overflow: hidden;
    overflow-y: scroll;
}

.content-sidebar {
    width: 27%;
    height: auto;
    min-height: 781px;
    background: #e2d0e1;
    color: white;
    position: sticky;
    border-radius: 8px 8px 0px 0px;
}
.item { 
    position: relative;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px 10px 30px 10px;
    align-items: center;
}
.item i {
    font-size: 13px;
    color: rgb(158, 158, 158);
    user-select: none;
}
.item h4 {
    font-family: 'Poppins';
    font-size: 22px;
    margin-bottom: 4px;
}
.price {
    position: relative;
    display: flex;
}
.item img {
    width: 100%;
    height: 70%;
    /* margin-bottom: 10px; */
    object-fit: cover;
}
.add-to-cart {
    font-family: 'Poppins';
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 13px;
    padding: 8px 10px;
    top: 0px;
    width: 100%;
    border-radius: 50px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}
.add-to-cart:hover {
    scale: 105%;
}
.add-to-cart:active {
    background-color: transparent;
    outline: solid 1px;
    outline-color: #c05dc0;
    color: #c05dc0;
    transition: 0.3s;
}
.add-to-cart:disabled, button[disabled] {
    background-color: #790000;
    border-color: #790000;
    color: white;
    scale: 100% !important;
}

.content-sidebar img {
    opacity: 0.1;
    width: 100%;
    position: relative;
}
.qty-input{
    display: none;
}
.search-bar {
    align-items: center;     
}
.search-bar input[type="text"] {
position: relative;
    padding: 10px 41px;
    border: 1px #c05dc0;
    border-radius: 50px;
    font-size: 16px;
    left: 40px;
}
.search-bar i {
    position: relative;
    top: 11px;
    left: 73px;
    float: left;
    font-size: 20px;
    border: 1px;
}

.bill {
    display: flex;
    border-radius: 15px;
    background: #fff;
    color: black;
    width: -webkit-fill-available;
    height: 36px;
    align-items: center;
    margin: 10px;
    padding-left: 20px;
}

.bill span {
    width: max-content;
}

.sign1{margin-left: 100px;}
.sign2{margin-left: 115px;}
.sign3{margin-left: 85px;}
.sign4{margin-left: 115px;}
#discount{margin-left: 80px;}
#cash{margin-left: 137px;margin-right: 50px;}
#customer{margin-left: 50px;width: 50%;font-size: 15px;}
.commit-button{
    right: 32px;
    background-color: #c05dc0;
    color: white;
    font-weight: 100;
    padding: 5px 10px;
    top: 0px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.commit-button:hover {
    scale: 105%;
}
.commit-button:active {
    background-color: transparent;
    outline: solid 1px;
    outline-color: #c05dc0;
    color: #c05dc0;
    transition: 0.3s;
}

.bill input {
    width: 117px;
    height: -webkit-fill-available;
    margin-left: 15px;
    border: 1px solid grey;
    text-align: left;
    border-radius: 10px;
    background: transparent;
    font-weight: 500;
    font-size: large;
    padding-top: 1px;
}
.bill input:focus {
    outline: none;
}

.bill .disc {margin-left: 90px;width: 45px;text-align: right;}
.bill .total {margin-left: 138px;}
.bill .tax {margin-left: 155px;}
.bill .Gtotal {margin-left: 77px;}
.bill .paid {margin-left: 77px;}
.bill .change {margin-left: 117px;}

.below-button {text-align: center; margin-top: 20px;}
.below-button button {
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
    height: 55px;
    width: 121px;
}
.back-img {
    position: relative;
    width: auto;
    z-index: -1;
}
.back-img thead th {
    position: sticky;
    top: 0px;
    width: 100%;
}
hr {
    margin-top: -150px;
}
.content-sidebar table {
    position: absolute;
    width: 100%;
    top: 0px;
    border-collapse: collapse;
}
thead{
    border: 1px solid;
    width: 100%;
}
tbody{
    background-color: #d19bce;
}
tbody td {
    padding-top: 15px;
}
tbody td:first-child {
    width: 192px;
}
.content-sidebar th {
    background-color: #c05dc0;
    border: 4px;
}
th:first-child {
    width: 308px;
    text-align: left;
    border-radius: 8px 0px 0px 0px;
}
th:last-child {
    width: 68px;
    text-align: center;
    border-radius: 0px 8px 0px 0px;
}

td:last-child {
    text-align: center;
    width: 100px;
}

.qty-input {
    width: 30px;
    text-align: center;
}

.fa-trash-o{
    font-size: 20em;
    color: #f10921 !important;
}
.fa-trash-o:active {
    color: #fa4c5e !important;
}

.side-product-id{
    padding-left: 70px;
}
.quantity-input{
    width: 50px;
}

.reset {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    transition: 0.3s;
}
.confirm {
    background-color: #68bb59;
    border-color: #68bb59;
    color: white;
    transition: 0.3s;
}
.reset:hover, .confirm:hover {
    scale: 105%;
}
.reset:active {
    background-color: white;
    border-color: #dc3545;
    color: #dc3545;
    transition: 0.3s;
}
.confirm:active {
    background-color: white;
    border-color: #68bb59;
    color: #68bb59;
    transition: 0.3s;
}

.confirm:disabled, button[disabled] {
    background-color: #075700;
    border-color: #075700;
    color: white;
    scale: 100% !important;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.8);
}

.sel_modal {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #68bb59;
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    margin: 10% 35% auto;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1280px) and (max-height: 1024px)   {
    .content-items {
        height: 91vh;
    }
    .content-sidebar {
        min-height: 827px;
    }
    hr {
        margin-top: -15px;
    }
}

.recent {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 200%;
    height: 1200%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-recent {
    position: absolute;
    width: 1100px;
    background-color: #fefefe;
    padding: 50px;
    border: 1px solid #888;
    margin: 6% 22% auto;

}

.recent-close {
    left: 1402px;
    top: 200px;
    position: fixed;
    z-index: 1;
    font-size: 46px;
}

.recent-close:hover,
.recent-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Preloader */
.load {
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #e2d0e1;
    position: absolute;
    transition: opacity 0.8s, visibility 0.8s;
}
.hide-load {
    opacity: 0;
    visibility: hidden;
}

.load .load_icon {
    height: 100px;
    width: 100px;
    border: 15px solid #d19bce;
    border-top-color:#c05dc0;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: spin 0.8s infinite cubic-bezier(0.65, 0.05, 0.01, 0.64);
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
