@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    background: #f3f3f6b5;
}
.navbar {
   background: #c05dc0;
   justify-content: space-between;
   color: #333;
   display: flex;
   align-items: center;
   padding: 10px;
   height: 80px;
}
.navbar img {
   width: 8%;
   margin-top: 4px;
}
.navbar h2 {
   color: #fff;
   margin: 10px;
}

.navbar-right i {
   font-size: 23px;
   color: #fff;
   
}
.navbar .navbar-right {
    display: flex;
    align-items: center;
}
.navbar .navbar-left {
    display: flex;
    align-items: center;
}
.notification-icon {
    margin: 0 20px;
}
.content-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-template-rows: repeat(2, 370px);
    grid-gap: 20px;
    height: 90.7vh;
    max-height: 100vh;
    padding: 50px;
    width: 100%;
}
.item { 

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(56 3 56 / 24%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    align-items: center;
}
.item h4 {
    margin-bottom: 2px;
}
.item img {
    width: 100%;
    height: 75%;
    /* margin-bottom: 10px; */
    object-fit: cover;
}
.save-product {
    background-color: rgb(226, 131, 23);
    color: white;
    font-weight: 100;
    padding: 5px 10px;
    top: 0px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.save-product:hover {
    scale: 105%;
}
.save-product:active {
    background-color: transparent;
    outline: solid 1px;
    outline-color: rgb(7, 114, 60);
    color: rgb(7, 114, 60);
    transition: 0.3s;
}

.edit-product {
    background-color: rgb(7, 57, 114);
    color: white;
    font-weight: 100;
    padding: 5px 10px;
    top: 0px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.edit-product:hover {
    scale: 105%;
}
.edit-product:active {
    background-color: transparent;
    outline: solid 1px;
    outline-color: rgb(7, 57, 114);
    color: rgb(7, 57, 114);
    transition: 0.3s;
}

.delete-product {
    background-color: rgb(114, 7, 7);
    color: white;
    font-weight: 100;
    padding: 5px 10px;
    top: 0px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.delete-product:hover {
    scale: 105%;
}
.delete-product:active {
    background-color: transparent;
    outline: solid 1px;
    outline-color: rgb(114, 7, 7);
    color: rgb(114, 7, 7);
    transition: 0.3s;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  .search-bar {
    align-items: center;     
}
.search-bar input[type="text"] {
    padding: 10px 30px;
    border: 1px #c05dc0;
    border-radius: 50px;
    font-size: 16px;
    margin-left: 40px;
}
.search-bar i {
   top: 9px;
   left: 68px;
   float: left;
   position: relative;
   font-size: 20px;
   border: 1px;
}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  input[type=text],input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=file] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=file]:hover {
    background-color: #45a049;
  }
  
  div.container-modal {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
@media (max-width: 1280px) and (max-height: 1024px)   {
    .content-items {
        height: 91vh;
    }
    .content-sidebar {
        min-height: 833px;
    }
    hr {
        margin-top: -15px;
    }
}
