.header {
    text-align: center;
}
.order{
    display: flex;
    justify-content: space-between;
    
}
.lower{
    display: flex;
    justify-content: space-between;
}
.footer {
    text-align: center;
}