@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #f3f3f6b5;
    display: flex;
}
form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    align-items: center;
    top: 0;
    bottom: 0;
    left: 33%;
    right: 0;
    position: absolute;
    width: 34vw;
    height: 56vh;
}

.box {
    position: relative;
    border: 1px solid #6a5768;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    margin-bottom: 3%;
}

.input-box {
    background: transparent;
    border-radius: 1%;
    color: white;
    border: transparent;
    font-size: 1em;
    width: 100%;
    height: 46px;
    font-weight: 600;
    padding-left: 3%;
    padding-right: 3%;
}

.reg-form {
    background-color: #d19bce;
    position: relative;
    top: 19px;
    left: 294px;
    border-radius: 15px;
    width: 420px;
    height: 92%;
    padding: 30px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    text-align: left;
    border: 1px solid #fff;
    outline: 1px solid #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #fff;
}

form label {
    position: relative;
    color: #fff;
    font-weight: 500;
    background-color: #d19bce;
    left: 10px;
    bottom: 44px; /*68px*/
    padding: 0px 5px 0px 5px;
    transition: 0.3s;
}
.move {
    bottom: 68px;
}

h1 {
    color: #fff;
}

.error {
    align-items: center;
    color: #dc3545;
    height: 29px;
    margin-bottom: 18px;
}

.submit:hover {
    scale: 105%;
}

.btn {
    border-radius: 50px 50px 50px 50px;
    position: relative;
    width: 100%;
    /* left: 13px; */
    height: 40px;
    font-size: 15px;
    margin-bottom: 15px;
    border: transparent;
}
.submit {
    border: none;
    background-color: #c05dc0;
    color: #fff;
    margin-top: 2%;
    /* width: 10%; */
    font-weight: 600;
    border: 1px solid #c05dc0;
    transition: 0.3s;
}