@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #d19bce;
    display: flex;
}
.background-img img{
    position: absolute;
    left: 49%;
    width: 40%;
}
.wrap {
    width: 35%;
    margin-left: -0.9%;
}
form {
   margin-top: 50px;
}

form label {
    position: relative;
    color: #000;
    font-weight: 500;
    background-color: #d19bce;
    left: 10px;
    bottom: 68px;
    padding: 0px 5px 0px 5px;
    transition: 0.3s;
}


p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: #fff;
}

.email {
    width: 51px;
}

.pass {
    width: 83px;
}

.container {
    width: 84%;
    padding-left: 16%;
    margin-left: 40px;
}

.container.login {
    top: 25%;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
}
.logo {
   display: flex;
   margin: 7% 10%;
   
}
.logo img {
   width: 70px;
}
.logo h3 {
    position: relative;
    color: #fff;
    top: 16px;
    margin-left: 16px;
    font-weight: 600;
    font-size: 30px;
}


.input-box {
    background: transparent;
    border-radius: 1%;
    color: white;
    border: transparent;
    font-size: 1em;
    width: 100%;
    height: 46px;
    font-weight: 600;
    padding-left: 3%;
    padding-right: 3%;
}

input[type=password] {
    padding-right: 15%;
}

.box {
    position: relative;
    border: 1px solid #6a5768;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    margin-bottom: 3%;
}

.btn {
    border-radius: 50px 50px 50px 50px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-bottom: 15px;
    border: transparent;
    
}

.submit {
    border: none;
    background-color: #c05dc0;
    color: #fff;
    margin-top: 15%;
    font-weight: 600;
    border: 1px solid #c05dc0;
    transition: 0.3s;
}
.submit:hover {
    scale: 105%;
}
.submit:active {
    background-color: transparent;
    color: #c05dc0;
}
.useMail {
    background-color: #fff;
    color: #000;
}
